<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Bookings" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Tour Operators" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Revenue" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Site Visits" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-4 col-lg-12 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>




