
<div class="row">
  <ng-container *ngFor="let c of channels$ | async; let i = index">
    <div class="col">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="c.logoUrl">
          <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <p class="card-text">{{ c.websiteUrl }}</p>
            <button class="btn btn-success" (click)="showLargeModal()">Connect</button>
          </div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="(i+1)%3 === 0" class="w-100"></div>
</div>
  



